body {
	background-color: yellow;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	max-width: 1000px;
	margin: auto;
}
h1 {
	font-size: 6em;
	letter-spacing: 0.1em;
	text-align: center;
	font-family: "Londrina Solid", cursive;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.25em;
}
h1,
h2,
h3 {
	color: darkblue;
}
